.table {
    border-spacing: 0 15px;
}

i {
    font-size: 1rem !important;
}

.table tr {
    border-radius: 20px;
}

.productos tr td:nth-child(n+6),
.productos tr th:nth-child(n+6),
.ventas tr td:nth-child(n+8),
.ventas tr th:nth-child(n+8),
.usuarios tr td:nth-child(n+6),
.usuarios tr th:nth-child(n+6)
 {
    border-radius: 0 .625rem .625rem 0;
}

tr td:nth-child(1),
tr th:nth-child(1) {
    border-radius: .625rem 0 0 .625rem;
}

.ventas tr td,
.ventas tr th {
    text-align: center;
    /* border: 1px grey solid; */
}